.main_cont{
    width: 98vw;
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(rgb(245, 89, 27),rgb(187, 245, 27));
}
.card_cont{
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;

}
.card_cont input{
    width: 80%;
    height: 10%;
    margin: 10px 0px;
}
.card_cont button{
    width: 82%;
    height: 10%;
    font-size: 1.5rem;
    background-color: blueviolet;
    color: #fff;
    border-style: none;
    border-radius: 5px;
}